<%@ tag language="java" pageEncoding="Utf-8"%>
<!DOCTYPE html>
<html>
<head>
<title>Praktikum 6</title>
</head>
<!-- Selle faili abil saab kirjeldada rakenduse üldise layouti -->
<body>
<jsp:doBody />
</body>
</html>